body {
	padding: 10px;
  font-size: 16px;
  line-height: 1.42857;
}

.table {
	background: white;
}

.top-buttons {
  position: fixed;
  top: 0px;
  bottom: 100px;
  width: 100%;
}

.left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.center {
  position:fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  margin-left: -15em;
}

.center.Create {
  top: 20%;
  
}

.center.MyDrinks {
  top: 50%;
  width: 34em;
  height: 20em;
  margin-top: -10em;
  margin-left: -17em;
  
}

.center.Share {
  top: 80%;
  width: 24em;
  height: 16em;
  margin-top: -8em;
  margin-left: -12em;
}

/* Buttons at the bottom of the screen */
.bottom-buttons {
  position: fixed;
  top: auto;
  bottom: 0px;
  width: 100%;
}

.bottom-buttons.row {
  margin: 0 -10px;
}
.bottom-buttons .btn {
  font-size: 4em;
  width: 100%;
  border-radius: 0px;
}

.bottom-buttons.row > div {
  padding: 5px;
}

/* Drink maker */
.button-sidebar .btn {
	width: 100%;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}
.button-sidebar .btn i {
	font-size: 2em;
}

/**
 * Class to make an icon not normally crossout have a slash through it
 */
.fa-crossout:after {
    content: "\\";
    position: absolute;
    font-size: 1.5em;
    margin-left: -0.4em;
    margin-top: -0.25em;
    text-shadow: -0.05em 0 white;
    -moz-transform:    skew(15deg, 15deg);
    -o-transform:      skew(15deg, 15deg);
    -webkit-transform: skew(15deg, 15deg);
    transform:         skew(15deg, 15deg);
}

.cup {
	width: 100%;
  height: 300px;
	border: 10px solid black;
	border-top: 5px solid black;
	border-radius: 10px 10px 25px 25px;
  transform: perspective(10px) rotateX(-1deg);
  margin: 50px 0;
}

/* Drink size slider */
.slider {
  -webkit-appearance: slider-vertical;
  width: 50px;
  height: 300px;
}
